.app.window-app.koboldworks.sheet {
  display: flex;
  min-width: 640px;
  min-height: 620px;
}
.koboldworks.sheet .ungrowing {
  flex-grow: 0.1;
}
.koboldworks.sheet .lessgrowing {
  flex-grow: 0.25;
}
.koboldworks.sheet .nowrap {
  flex-wrap: nowrap;
}
.koboldworks.sheet .unshrinking {
  flex-shrink: 0.1;
}
.koboldworks.sheet .filler {
  flex: 1 0.5 0;
  background-color: red;
}
.koboldworks.sheet .smallBox {
  min-width: 3.5em;
  max-width: 8em;
  max-height: 1.5em;
  flex: 1 1 4em;
}
.koboldworks.sheet label {
  width: 100%;
  flex: 1 0 auto;
  height: 1.2em;
  max-height: 1.2em;
  padding: 0 0.2em 0 0.2em;
}
.koboldworks.sheet .evilglow {
  text-shadow: 0 0 3px red;
}
.koboldworks.sheet .contrastglow {
  text-shadow: 0 0 1px rgba(250, 250, 255, 0.8);
}
.koboldworks.sheet input {
  text-shadow: 0 0 1px rgba(250, 250, 255, 0.8);
}
.koboldworks.sheet .center-text {
  text-align: center;
}
.koboldworks.sheet .centered {
  align-items: center;
}
.koboldworks.sheet .vertical-break {
  flex-basis: 100%;
  height: 0;
  width: 0;
  max-width: 0;
  max-height: 0;
}
.koboldworks.sheet .horizontal-break {
  flex-basis: 100%;
  width: 0;
}
.koboldworks.sheet img.profile {
  max-height: 128px;
  max-width: 128px;
  flex: 1 100 64px;
  margin: 1px;
}
.koboldworks.sheet .box {
  border: 1px solid rgba(15, 10, 10, 0.5);
}
.koboldworks.sheet .box,
.koboldworks.sheet .nobox {
  margin: 0 0 2px 2px;
}
.koboldworks.sheet .shaded {
  background-color: rgba(15, 10, 10, 0.1);
  text-shadow: 0 0 1px rgba(250, 250, 255, 0.8);
}
.koboldworks.sheet .em4height {
  max-height: 4em;
}
.koboldworks.sheet .details {
  flex: 10 1 8em;
}
.koboldworks.sheet .details .misc {
  flex: 0 1 6em;
  max-width: 8em;
}
.koboldworks.sheet .details .defense {
  flex: 1 1 8em;
  max-width: 24em;
}
.koboldworks.sheet .details .defense .category {
  flex: 1.5 4 8em;
}
.koboldworks.sheet .details input {
  font-size: 120%;
  font-weight: bold;
}
.koboldworks.sheet .details .health {
  max-width: 20em;
  flex: 0.5 2 6em;
  /*
			input {
				min-width: @moderate * 0.7;
				max-width: @moderate;
			}
			*/
}
.koboldworks.sheet .details .health .item input {
  font-size: 150%;
}
.koboldworks.sheet .details .combat.combat div {
  min-width: 2.8em;
}
.koboldworks.sheet .details .combat.offense div {
  max-width: 6em;
}
.koboldworks.sheet .details .item {
  text-align: center;
  align-items: center;
  max-height: 4em;
  flex: 1 1 4em;
  min-width: 3.6em;
}
.koboldworks.sheet .details .item input {
  min-width: 3.5em;
  max-width: 8em;
  max-height: 1.5em;
  flex: 1 1 4em;
}
.koboldworks.sheet .details .saves .item {
  max-width: unset;
}
.koboldworks.sheet .details input.crunched {
  margin: 1px;
}
.koboldworks.sheet .details .name {
  flex: 10 0 26em;
  line-height: 1.8em;
  height: 1.2em;
  min-width: 10em;
}
.koboldworks.sheet .details .experience {
  flex-grow: 0.25;
  flex-basis: 12em;
  min-width: 8em;
  max-width: 14em;
}
.koboldworks.sheet .details .experience .item {
  align-items: unset;
}
.koboldworks.sheet .details .experience .smaller {
  flex-grow: 0.5;
}
.koboldworks.sheet .tab-selector .item {
  font-size: 120%;
}
.koboldworks.sheet .tab-selector .item.active {
  text-shadow: 0 0 3px blue, 0 0 1px white;
  border: rgba(15, 10, 10, 0.5);
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
}
.koboldworks.sheet .rollable:hover {
  text-shadow: 0 0 3px red;
  font: black;
}
/** STATSHEET SPECIFIC */
.pf1.sheet.koboldworks.statsheet form {
  overflow-y: scroll;
}
.pf1.sheet.koboldworks.statsheet form > .main-sheet {
  margin-left: 1.7em;
  margin-right: 0.3em;
}
.pf1.sheet.koboldworks.statsheet nav {
  position: fixed;
}
.pf1.sheet.koboldworks.statsheet nav ol {
  list-style: none;
  padding: 0;
  text-orientation: mixed;
  display: inline-flex;
  writing-mode: vertical-lr;
}
.pf1.sheet.koboldworks.statsheet nav ol li + li {
  padding-top: 0.5em;
}
.pf1.sheet.koboldworks.statsheet value.highlight {
  text-decoration: underline rgba(250, 120, 0, 0.6);
}
.pf1.sheet.koboldworks.statsheet .content-block {
  line-height: 1.5em;
}
.pf1.sheet.koboldworks.statsheet .box,
.pf1.sheet.koboldworks.statsheet action:not(.box) > value:not(.box) {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 0.2em;
}
.pf1.sheet.koboldworks.statsheet section {
  display: inline;
}
.pf1.sheet.koboldworks.statsheet action,
.pf1.sheet.koboldworks.statsheet value {
  border-radius: 3px;
  white-space: nowrap;
}
.pf1.sheet.koboldworks.statsheet action {
  background-color: rgba(20, 150, 255, 0.1);
}
.pf1.sheet.koboldworks.statsheet action .roll-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../icons/d20black.svg);
}
.pf1.sheet.koboldworks.statsheet action.edit-only {
  background-color: unset;
}
.pf1.sheet.koboldworks.statsheet action.no-charges {
  filter: grayscale(100%);
}
.pf1.sheet.koboldworks.statsheet action.button {
  display: block;
  border-style: outset;
  border-width: 2px;
  background-color: #aba0866b;
  text-align: center;
}
.pf1.sheet.koboldworks.statsheet action.button.wide {
  flex: 1 100%;
}
.pf1.sheet.koboldworks.statsheet action:not(.edit-only):hover {
  background-color: #143cff;
  color: white;
  text-shadow: 0 0 3px #5affeb;
}
.pf1.sheet.koboldworks.statsheet action.quick-action {
  background-color: rgba(255, 165, 0, 0.3);
}
.pf1.sheet.koboldworks.statsheet section {
  margin-top: 0.3em;
}
.pf1.sheet.koboldworks.statsheet section h3 {
  margin: 0;
  font-weight: bold;
}
.pf1.sheet.koboldworks.statsheet action > value:before {
  /*
				font-family: "Font Awesome 5 Free";
				content: "\f522";
				vertical-align: middle;
				font-weight: 900;
				padding-right: 3px;
				text-rendering: auto;
				*/
}
.pf1.sheet.koboldworks.statsheet .character-name {
  flex: 1 12em;
}
.pf1.sheet.koboldworks.statsheet .character-name input {
  font-size: inherit;
  font-weight: inherit;
  flex: 1 16em;
  width: 100%;
  background: unset;
  border: unset;
}
.pf1.sheet.koboldworks.statsheet .character-name input:hover {
  background-color: rgba(255, 180, 120, 0.3);
}
.pf1.sheet.koboldworks.statsheet .skills {
  margin-top: 0.5em;
}
.pf1.sheet.koboldworks.statsheet [name="minibox"] {
  max-width: 8em;
  flex: 0 6em;
}
.pf1.sheet.koboldworks.statsheet [name="minibox"] .hd-box {
  border: 1px solid #00000070;
  border-radius: 7px;
  padding: 0 2px 0 3px;
  align-items: center;
}
.pf1.sheet.koboldworks.statsheet [name="minibox"] .hd-box .field {
  flex-flow: nowrap;
}
.pf1.sheet.koboldworks.statsheet [name="minibox"] .hd-box .field label {
  font-weight: bold;
  align-self: center;
  flex: 0 3em;
}
.pf1.sheet.koboldworks.statsheet [name="minibox"] .hd-box .field value.total {
  text-align: center;
  align-self: center;
  flex: 0 3em;
  line-height: 1.1em;
}
.pf1.sheet.koboldworks.statsheet [name="minibox"] .actions {
  margin-top: 0.3em;
}
.pf1.sheet.koboldworks.statsheet [name="minibox"] .actions action > i {
  vertical-align: middle;
}
.pf1.sheet.koboldworks.statsheet [name="minibox"] .actions action:hover {
  background-color: #2f842f;
}
.pf1.sheet.koboldworks.statsheet .editor {
  height: 16em;
  border: 1px solid rgba(60, 30, 10, 0.5);
  margin-right: 0.3em;
  padding: 0.1em 0.35em;
  border-radius: 0.5em;
}
.koboldworks.dialog.skill input[name="rank"] {
  flex: 0 4em;
}
