<form class='flexrow' autocomplete='off'>
	<div class='character-data'>
		<header class='flexrow details'>
			<img class='profile' src='{{data.actor.img}}' data-edit='img' />
			<div class='flexrow'>
				<div class='flexcol'>
					<h1 class='nobox'><input class='name no-null' type='text' name='name' value='{{data.actor.name}}'
						placeholder='{{localize 'PF1.CharacterName'}}' data-dtype='String' required /></h1>
				</div>

				<div class='horizontal-break'></div>

				{{> "modules/koboldworks-pf1-simplesheet/template/sub/health.hbs"}}

				{{> "modules/koboldworks-pf1-simplesheet/template/sub/combat.hbs"}}
			</div>
		</header>

		<nav class='tab-selector'>
			<a class='item' data-tab='summary'>SUMMARY</a>
			<a class='item' data-tab='items'>ITEMS</a>
			<a class='item' data-tab='notes'>NOTES</a>
			<a class='item' data-tab='settings'>SETTINGS</a>
		</nav>
		<section class='tab-content'>
			<div class='tab' data-tab='summary'>
				<h1>WIP: SUMMARY</h1>
			</div>
			<div class='tab' data-tab='items'>
				<h1>WIP: ITEMS</h1>
				{{> "modules/koboldworks-pf1-simplesheet/template/sub/inventory.hbs" derived }}
			</div>
			<div class='tab' data-tab='notes'>
				<h1>WIP: NOTES</h1>
			</div>
			<div class='tab' data-tab='settings'>
				<h1>WIP: SETTINGS</h1>
			</div>
		</section>
	</div>
</form>
