<form autocomplete='off'>
	<nav>
		<ol>
			<li><a data-scroll-to='top'>Top</a></li>
			<li><a data-scroll-to='defense'>Defense</a></li>
			<li><a data-scroll-to='offense'>Offense</a></li>
			<li><a data-scroll-to='statistics'>Statistics</a></li>
			<li><a data-scroll-to='equipment'>Equipment</a></li>
			<li><a data-scroll-to='notes'>Notes</a></li>
		</ol>
	</nav>
	<div class='main-sheet'>
	<div class='content-block details flexrow'>
		<div class='flexcol'>
			<section class='content-block identifier' name='identifier' data-scroll-target='top'>
				<h1 class='character-name'><input class='no-null' name='name' data-dtype='String' value='{{actor.name}}'></input></h1>
			</section>
			<section class='flexcol base-data content-block' name='base'>
				<section>
				{{#unless actor.hasPlayerOwner}}<value>{{system.details.xp.value}} XP</value>;{{/unless}}
				<span class='alignment'>
					<value name='details.alignment' class='highlight'>{{lookup config.alignments actor.data.data.details.alignment}}</value>
 				</span>
				{{#if actor.race}}
				<action data-category="other" data-key="item" data-item-id="{{actor.race.id}}" class='edit-only'><value name='race' class='race edit-only'>{{actor.race.name}}</value></action>
				<span class='types'>
					<value name='race.data.creatureType' class='type'>{{lookup config.creatureTypes actor.race.data.data.creatureType}}</value>
					{{#if tempData.subTypes}}
					(<span class='subtypes'>{{#each actor.race.data.data.subTypes as |v|}}{{#if @index}}, {{/if}}<value class='subtype'>{{v}}</value>{{/each}}</span>)
					{{/if}}
 				</span>
				{{/if}}
				</section>

				<div class='engagement'>
					Init <action data-category='init'><value data-source='init'>{{numberFormat system.attributes.init.total decimals=0 sign=true}}</value></action>;
					<section name='senses'>
					Perception <action data-category='skill' data-key='per'><value data-category='skill' data-key='per' name='skills.per.mod'>{{numberFormat system.skills.per.mod decimals=0 sign=true}}</value></action>
					{{#if tempData.senses}}({{#each tempData.senses}}{{#if @index}},{{/if}}<value class='highlight' data-category='sense' name='sense[]'>{{this}}</value>{{/each}}){{/if}}
					</section>
				</div>
				<div>
					Size <value class='highlight' data-key='size' name='traits.size'>{{lookup config.actorSizes actor.data.data.traits.size}}</value>,

					Speed
					{{#each tempData.speeds as |speed key|}}{{#if @index}},{{/if}}
					{{#if speed.label}}{{localize speed.label}}
					{{/if}}<value class='highlight' data-category='speed' data-key='{{key}}' name='speed.{{key}}'>{{speed.value}}</value> ft{{#if speed.maneuverabilty}} (<value class='speed.maneuverabilty'>{{speed.maneuverabilty}}</value>){{/if}}</value>{{/each}}
				</div>
			</section>
		</div>
		<div name='minibox'>
			<div class='hd-box'>
				<div class='field flexrow' name='hd-box'>
					<label for='system.attributes.hd.total'>{{localize 'PF1.HitDieShort'}}</label>
					<value class='box total' name='system.attributes.hd.total'>{{system.attributes.hd.total}}</value>
				</div>
				{{#if system.details.mythicTier}}
				<div class='field flexrow' name='mt-box'>
					<label for='system.details.mythicTier'>MT</label>
					<value class='box total' name='system.details.mythicTier'>{{system.details.mythicTier}}</value>
				</div>
				{{/if}}
				{{#unless actor.hasPlayerOwner}}
				<div class='field flexrow' name='cr-box'>
					<label for='system.details.cr.total'>CR</label>
					<value class='box total' name='system.details.cr.total'>{{system.details.cr.total}}</value>
				</div>
				{{/unless}}
			</div>
			<div class='actions'>
				<action data-category="action" data-key="rest" class='button wide'><i class='fas fa-bed'></i> Rest</action>
			</div>
		</div>
	</div>

	<h2 data-scroll-target='defense'>Defense</h2>

	<section class='content-block' name='defenses'>
		<div>
			<span class='armor'><b>AC</b> <value class='box'>{{numberFormat system.attributes.ac.normal.total decimals=0 sign=false}}</value> (touch <value class='box'>{{numberFormat system.attributes.ac.touch.total decimals=0 sign=false}}</value>, flat-footed <value class='box'>{{numberFormat system.attributes.ac.flatFooted.total decimals=0 sign=false}}</value>)</span>;
			<span class='cmd'><b>CMD</b> <value class='box' data-category='defense' data-key='cmd' name='attributes.cmd.total'>{{numberFormat system.attributes.cmd.total decimals=0 sign=false}}</value></span>
		</div>
		<div>
		<section name='health'>
		<b>HP</b> <value class='box' name='attributes.hp.value' title='{{system.attributes.hp.value}}{{#if system.attributes.hp.temp}} base + {{system.attributes.hp.temp}} temp{{/if}}'>{{numberFormat tempData.effectiveHP decimals=0 sign=false}}</value>/<value class='box' name='attributes.hp.max'>{{numberFormat system.attributes.hp.max decimals=0 sign=false}}</value> (NL <value class='box' name='attributes.hp.nonlethal'>{{numberFormat system.attributes.hp.temp decimals=0 sign=false}}</value>)
		</section>
		</div>
		<div>
		<span class='saves'>Fort <action data-category='save' data-key='fort'><value name='savingThrows.fort'>{{numberFormat system.attributes.savingThrows.fort.total decimals=0 sign=true}}</value></action>, Ref <action data-category='save' data-key='ref'><value name='savingThrows.ref'>{{numberFormat system.attributes.savingThrows.ref.total decimals=0 sign=true}}</value></action>, Will <action data-category='save' data-key='will'><value name='savingThrows.will'>{{numberFormat system.attributes.savingThrows.will.total decimals=0 sign=true}}</value></action></span>
		</div>

		{{#if tempData.resistances.length}}
		<div class='resistances'>
		Resistances:
		{{#each tempData.resistances}}{{#if @index}}, {{/if}}<value class='highlight' data-category='resistance'>{{this}}</value>{{/each}}
		</div>
		{{/if}}
		{{#if tempData.immunities.length}}
		<div class='immunities'>
		Immunities:
		{{#each tempData.immunities}}{{#if @index}}, {{/if}}<value class='highlight' data-category='resistance'>{{this}}</value>{{/each}}
		</div>
		{{/if}}
		{{#if tempData.vulnerabilities.length}}
		<div class='vulnerabilities'>
		Vulnerabilities:
		{{#each tempData.vulnerabilities}}{{#if @index}}, {{/if}}<value class='highlight' data-category='resistance'>{{this}}</value>{{/each}}
		</div>
		{{/if}}
	</section>

	<h2 data-scroll-target='offense'>Offense</h2>

	<section class='content-block' name='attacks'>
		{{#if tempData.attacks.melee.length}}
		<div class='melee'>
		Melee:
		{{#each tempData.attacks.melee}}{{#if @index}},{{/if}}
			<action data-category="attack" data-key="item" data-item-id="{{this.id}}" class='{{#if data.data.showInQuickbar}}quick-action{{/if}}'>{{this.name}}</action>
		{{/each}}
		</div>
		{{/if}}
		{{#if tempData.attacks.ranged.length}}
		<div class='ranged'>
		Ranged:
		{{#each tempData.attacks.ranged}}{{#if @index}},{{/if}}
			<action data-category="attack" data-key="item" data-item-id="{{this.id}}" class='{{#if data.data.showInQuickbar}}quick-action{{/if}}'>{{this.name}}</action>
		{{/each}}
		</div>
		{{/if}}
		<div class='maneuvers'>
		CMB <action data-category='attack' data-key='cmb' name='attack.cmb'>
			<value name='attributes.cmb.total'>{{numberFormat system.attributes.cmb.total decimals=0 sign=true}}</value>
		</action>{{#if tempData.attacks.maneuver.length}};
		{{#each tempData.attacks.maneuver}}{{#if @index}},{{/if}}
			<action data-category="attack" data-key="item" data-item-id="{{id}}" class='{{#if data.data.showInQuickbar}}quick-action{{/if}}'>{{this.name}}</action>
		{{/each}}
		{{/if}}
		</div>
		{{#if tempData.spells.caster}}
		<div class='spellcasting'>
			<h3>Spells</h3>
			{{#if tempData.spells.attack.length}}
			<div>Attack:
			{{#each tempData.spells.attack}}
				<action data-category="attack" data-key="item" data-item-id="{{id}}" class='{{#if data.data.showInQuickbar}}quick-action{{/if}} {{#unless isCharged}}no-charges{{/unless}}'>{{name}} <value data-category="uses">{{koboldworks-uses this}}</value></action>
			{{/each}}
			</div>
			{{/if}}
			{{#if tempData.spells.utility.length}}
			<div>Utility:
			{{#each tempData.spells.utility}}
				<action data-category="attack" data-key="item" data-item-id="{{id}}" class='{{#if data.data.showInQuickbar}}quick-action{{/if}}'>{{name}}</action>
			{{/each}}
			</div>
			{{/if}}
		</div>
		{{/if}}
	</section>

	<h2 data-scroll-target='statistics'>Statistics</h2>

	<section class='content-block' name='statistics'>
		<div class='ability-modifiers'>
		Str <action data-category='ability' data-key='str' name='ability.str'><value name='abilities.str.mod'>{{numberFormat system.abilities.str.mod decimals=0 sign=true}}</value></action>
		Dex <action data-category='ability' data-key='dex' name='ability.dex'><value name='abilities.dex.mod'>{{numberFormat system.abilities.dex.mod decimals=0 sign=true}}</value></action>
		Con <action data-category='ability' data-key='con' name='ability.con'><value name='abilities.con.mod'>{{numberFormat system.abilities.con.mod decimals=0 sign=true}}</value></action>
		Int <action data-category='ability' data-key='int' name='ability.int'><value name='abilities.int.mod'>{{numberFormat system.abilities.int.mod decimals=0 sign=true}}</value></action>
		Wis <action data-category='ability' data-key='wis' name='ability.wis'><value name='abilities.wis.mod'>{{numberFormat system.abilities.wis.mod decimals=0 sign=true}}</value></action>
		Cha <action data-category='ability' data-key='cha' name='ability.cha'><value name='abilities.cha.mod'>{{numberFormat system.abilities.cha.mod decimals=0 sign=true}}</value></action>
		</div>

		<div class='skills'>
		<h3>Skills</h3>
		{{#each tempData.skills}}{{#if @index}},{{/if}}
		<action data-category='skill' data-key='{{this.key}}' name='skill.{{this.key}}' title='Rank: {{this.rank}}; Modifier: {{this.mod}}'>{{this.label}} <value name='skill.{{this.key}}'>{{numberFormat this.mod decimals=0 sign=true}}</value></action>
		{{/each}}
		</div>
	</section>

	<h2 data-scroll-target='equipment'>Equipment</h2>
	<section class='content-block' name='equipment'>
		{{#each tempData.equipment}}{{#if @index}},{{/if}}

		<action data-category='equipment' data-key='item' data-item-id='{{this.id}}' class='{{#if data.data.showInQuickbar}}quick-action{{/if}}'>{{this.name}}
		{{#if this.charges}}<value data-category='uses'>×{{this.charges}}</value>{{/if}}</action>
		{{/each}}
	</section>

	<h2 data-scroll-target='notes'>Notes</h2>
	<section class='content-block' name='notes'>
		{{roll-editor content=system.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
	</section>
	</div>
</form>
