@sliver : 0.2em;
@static-sliver: 2px;
@moderate : 4em;
@big : 6em;
@bigger : 8em;

.app.window-app.koboldworks.sheet {
	display: flex;
	min-width: 640px;
	min-height: 620px;
}

.koboldworks.sheet {
	.ungrowing {
		flex-grow: 0.1;
	}

	.lessgrowing {
		flex-grow: 0.25;
	}

	.nowrap {
		flex-wrap: nowrap;
	}

	.unshrinking {
		flex-shrink: 0.1;
	}

	.filler {
		flex: 1 0.5 0;
		background-color: red;
	}

	.smallBox {
		min-width: 3.5em;
		max-width: @bigger;
		max-height: 1.5em;
		flex: 1 1 @moderate;
	}

	label {
		width: 100%;
		flex: 1 0 auto;
		height: 1.2em;
		max-height: 1.2em;
		padding: 0 @sliver 0 @sliver;
	}

	.evilglow {
		text-shadow: 0 0 3px red;
	}

	.contrastglow {
		// Increase contained text contrast
		text-shadow: 0 0 1px rgba(250, 250, 255, 0.8);
	}

	input {
		.contrastglow();
	}

	.center-text {
		text-align: center;
	}

	.centered {
		align-items: center;
	}

	.vertical-break {
		flex-basis: 100%;
		height: 0;
		width: 0;
		max-width: 0;
		max-height: 0;
	}

	.horizontal-break {
		flex-basis: 100%;
		width: 0;
	}

	img.profile {
		max-height: 128px;
		max-width: 128px;
		flex: 1 100 64px;
		margin: 1px;
	}

	.box {
		border: 1px solid rgba(15, 10, 10, 0.5);
	}

	.box,
	.nobox {
		margin: 0 0 @static-sliver @static-sliver;
	}

	.shaded {
		background-color: rgba(15, 10, 10, 0.1);
		.contrastglow();
	}

	// Templates
	.em4height {
		max-height: @moderate;
	}

	// ---

	.details {
		//margin: 0.5em;
		flex: 10 1 @bigger;

		.misc {
			flex: 0 1 @big;
			max-width: @bigger;
		}

		.defense {
			flex: 1 1 @bigger;
			max-width: @bigger * 3;

			.category {
				flex: 1.5 4 @bigger;
				//max-width: @bigger * 2;
				//flex     : 1.5 4 @bigger;
			}
		}

		input {
			font-size: 120%;
			font-weight: bold;
		}

		.health {
			//flex-basis: @moderate * 4;
			//min-width : @moderate * 3;

			max-width: @moderate * 5;
			flex: 0.5 2 @big;

			/*
			input {
				min-width: @moderate * 0.7;
				max-width: @moderate;
			}
			*/

			.item input {
				font-size: 150%;
			}
		}

		.combat.combat div {
			min-width: @moderate * 0.7;
		}

		.combat.offense div {
			max-width: @moderate * 1.5;
		}

		.item {
			.center-text();
			//.ungrowing();
			.centered();
			.em4height();
			//justify-content: center;
			flex: 1 1 @moderate;

			min-width: 3.6em;
			//max-width: @bigger;

			input {
				.smallBox();
			}
		}

		.saves .item {
			max-width: unset;
		}

		input.crunched {
			margin: 1px;
		}

		.name {
			flex: 10 0 @moderate * 6.5;
			line-height: 1.8em;
			height: 1.2em;
			//max-width: @moderate * 4;
			min-width: @moderate * 2.5;
		}

		.experience {
			.lessgrowing();
			flex-basis: @moderate * 3;
			min-width: @moderate * 2;
			max-width: @moderate * 3.5;

			.item {
				align-items: unset;
			}

			.smaller {
				flex-grow: 0.5;
			}
		}
	}

	.tab-selector {
		.item {
			font-size: 120%;
		}

		.item.active {
			text-shadow: 0 0 3px blue, 0 0 1px white;
			border: rgba(15, 10, 10, 0.5);
			border-top: 1px;
			border-left: 1px;
			border-right: 1px;
		}
	}

	.rollable:hover {
		.evilglow();
		font: black;
	}
}

/** STATSHEET SPECIFIC */

.pf1.sheet.koboldworks.statsheet {
	form {
		overflow-y: scroll;
	}

	form>.main-sheet {
		margin-left: 1.7em;
		margin-right: 0.3em;
	}

	nav {
		position: fixed;

		ol {
			list-style: none;
			padding: 0;
			text-orientation: mixed;
			display: inline-flex;
			writing-mode: vertical-lr;

			li+li {
				padding-top: 0.5em;
			}
		}
	}

	value {
		&.highlight {
			text-decoration: underline rgba(250, 120, 0, 0.6);
		}
	}

	.content-block {
		line-height: 1.5em;
	}

	.box,
	action:not(.box)>value:not(.box) {
		border: 1px solid rgba(0, 0, 0, 0.2);
		background-color: rgba(0, 0, 0, 0.05);
		padding: 0 0.2em;
	}

	section {
		display: inline;
	}

	action,
	value {
		border-radius: 3px;
		white-space: nowrap;
	}

	action {
		background-color: rgba(20, 150, 255, 0.1);

		.roll-button {
			width: 24px;
			height: 24px;
			background-image: url(../../../icons/d20black.svg);
		}

		&.edit-only {
			background-color: unset;
		}

		&.no-charges {
			filter: grayscale(100%);
		}

		&.button {
			display: block;
			border-style: outset;
			border-width: 2px;
			background-color: #aba0866b;
			text-align: center;

			&.wide {
				flex: 1 100%;
			}
		}

		&:not(.edit-only):hover {
			background-color: rgb(20, 60, 255);
			color: white;
			text-shadow: 0 0 3px rgb(90, 255, 235);
		}

		&.quick-action {
			background-color: rgba(255, 165, 0, 0.3);
		}
	}

	section {
		margin-top: 0.3em;

		h3 {
			margin: 0;
			font-weight: bold;
		}
	}

	action {
		&>value {
			&:before {
				/*
				font-family: "Font Awesome 5 Free";
				content: "\f522";
				vertical-align: middle;
				font-weight: 900;
				padding-right: 3px;
				text-rendering: auto;
				*/
			}
		}
	}

	.character-name {
		flex: 1 12em;

		input {
			font-size: inherit;
			font-weight: inherit;
			flex: 1 16em;
			width: 100%;
			background: unset;
			border: unset;

			&:hover {
				background-color: rgba(255, 180, 120, 0.3);
			}
		}
	}

	.skills {
		margin-top: 0.5em;
	}

	[name="minibox"] {
		max-width: 8em;
		flex: 0 6em;

		.hd-box {
			border: 1px solid #00000070;
			border-radius: 7px;
			padding: 0 2px 0 3px;
			align-items: center;

			.field {
				flex-flow: nowrap;

				label {
					font-weight: bold;
					align-self: center;
					flex: 0 3em;
				}

				value.total {
					text-align: center;
					align-self: center;
					flex: 0 3em;
					line-height: 1.1em;
				}
			}
		}

		.actions {
			margin-top: 0.3em;

			action > i {
				vertical-align: middle;
			}

			action:hover {
				background-color: #2f842f;
			}
		}
	}

	.editor {
		height: 16em;
		border: 1px solid rgba(60, 30, 10, 0.5);
		margin-right: 0.3em;
		padding: 0.1em 0.35em;
		border-radius: 0.5em;
	}
}

.koboldworks.dialog {
	&.skill {
		input[name="rank"] {
			flex: 0 4em;
		}
	}
}
