<div class='flexrow nobox bio'>
	{{!-- PHYSICAL --}}
	<input class='item gender' type='text' placeholder='(Gender)' name='data.details.gender'
			value='{{data.data.details.gender}}' data-dtype='String' />
	<input class='item age' type='text' placeholder='(Age)' name='data.details.age'
			value='{{data.data.details.age}}' data-dtype='String' />
	<input class='item height' type='text' placeholder='(Height)' name='data.details.height'
			value='{{data.data.details.height}}' data-dtype='String' />
	<input class='item weight' type='text' placeholder='(Weight)' name='data.details.weight'
			value='{{data.data.details.weight}}' data-dtype='String' />

	{{!-- META-PHYSICAL / MORAL --}}
	<input class='item deity' type='text' placeholder='(Deity)' name='data.details.deity'
			value='{{data.data.details.deity}}' data-dtype='String' />
	<input class='item alignment' type='text' placeholder='(Alignment)' name='data.details.alignment'
			value='{{data.data.details.alignment}}' data-dtype='String' />
</div>
