<div class='flexrow info misc box'>
	{{!-- INIT --}}
	<div class='flexrow info initiative'>
		<div class='flexcol item'>
			<label class='shaded rollable' data-roll='init'>INIT</label>
			<input class='crunched init' type='text' placeholder='0' name='data.data.attributes.init.total'
				value='{{numberFormat data.data.attributes.init.total decimals=0 sign=true}}' data-dtype='Number' />
		</div>
	</div>
</div>

<div class='flexrow info defense box'>
	{{!-- ARMOR --}}
	<div class='flexrow category armor nowrap' data-chat='defense'>
		<div class='flexcol item'>
			<label class='shaded'>AC</label>
			<input class='crunched ac' type='text' placeholder='0' name='data.data.attributes.ac.normal.total'
				value='{{data.data.attributes.ac.normal.total}}' data-dtype='Number' />
		</div>
		<div class='flexcol item'>
			<label class='shaded'>TAC</label>
			<input class='crunched tac' type='text' placeholder='0' name='data.data.attributes.ac.touch.total'
				value='{{data.data.attributes.ac.touch.total}}' data-dtype='Number' />
		</div>
		<div class='flexcol item'>
			<label class='shaded'>CMD</label>
			<input class='crunched cmd' type='text' placeholder='0' name='data.data.attributes.cmd.total'
				value='{{data.data.attributes.cmd.total}}' data-dtype='Number' />
		</div>
	</div>

	<div class='horizontal-break'></div>

	{{!-- FF --}}
	<div class='flexrow category flat-footed nowrap' data-chat='defense'>
		<div class='flexcol item'>
			<label class='shaded'>FFAC</label>
			<input class='crunched ac' type='text' placeholder='0' name='data.data.attributes.cmd.total'
				value='{{data.data.attributes.cmd.total}}' data-dtype='Number' />
		</div>
		<div class='flexcol item'>
			<label class='shaded'>FFTAC</label>
			<input class='crunched tac' type='text' placeholder='0' name='data.data.attributes.cmd.total'
				value='{{data.data.attributes.cmd.total}}' data-dtype='Number' />
		</div>
		<div class='flexcol item'>
			<label class='shaded'>FFCMD</label>
			<input class='crunched cmd' type='text' placeholder='0' name='data.data.attributes.cmd.total'
				value='{{data.data.attributes.cmd.flatFootedTotal}}' data-dtype='Number' />
		</div>
	</div>
	
	<div class='horizontal-break'></div>

	{{!-- SAVES --}}
	<div class='flexrow category saves nowrap'>
		<div class='flexcol item'>
			<label class='shaded rollable' data-roll='fort'>Fort</label>
			<input class='crunched ac' type='text' placeholder='0' name='data.data.attributes.savingThrows.fort.total'
				value='{{numberFormat data.data.attributes.savingThrows.fort.total decimals=0 sign=true}}' data-dtype='Number' />
		</div>
		<div class='flexcol item'>
			<label class='shaded rollable' data-roll='ref'>Ref</label>
			<input class='crunched ac' type='text' placeholder='0' name='data.data.attributes.savingThrows.ref.total'
				value='{{numberFormat data.data.attributes.savingThrows.ref.total decimals=0 sign=true}}' data-dtype='Number' />
		</div>
		<div class='flexcol item'>
			<label class='shaded rollable' data-roll='will'>Will</label>
			<input class='crunched ac' type='text' placeholder='0' name='data.data.attributes.savingThrows.will.total'
				value='{{numberFormat data.data.attributes.savingThrows.will.total decimals=0 sign=true}}' data-dtype='Number' />
		</div>
	</div>
</div>
