<div class='flexrow experience box'>
	<div class='flexcol smaller item nowrap'>
		<label class='shaded'>{{localize 'PF1.Level'}}</label>

		<input class='crunched level' type='text' name='data.details.level.value' data-dtype='Number'
			value='{{data.details.level.value}}' placeholder='0' />
	</div>

	<div class='flexcol bigger item'>
		<label class='shaded'>{{localize 'PF1.Experience'}}</label>

		<div class='flexrow nowrap item'>
			<input class='crunched xp' type='text' name='data.details.xp.value' data-dtype='Number'
				value='{{data.details.xp.value}}' placeholder='0' />
			<input readonly class='crunched xp' type='text' name='data.details.xp.max' data-dtype='Number'
				value='{{data.details.xp.max}}' />
		</div>
	</div>
</div>
