<div class='health flexrow box'>
	<div class='flexrow nowrap'>
		<div class='flexcol item'>
			<label class='shaded'>{{localize 'PF1.Health'}}</label>
			<input class='crunched hp ' type='text' placeholder='0' name='data.attributes.hp.value'
				value='{{data.attributes.hp.value}}' data-dtype='Number' />
		</div>

		<div class='flexcol item'>
			<label class='shaded'>{{localize 'PF1.Maximum'}}</label>
			<input class='crunched hp' type='text' placeholder='0' name='data.attributes.hp.max'
				value='{{data.attributes.hp.max}}' data-dtype='Number' />
		</div>
	</div>

	<div class='horizontal-break'></div>

	<div class='flexrow nowrap'>
		<div class='flexcol item'>
			<label class='shaded'>{{localize 'PF1.Nonlethal'}}</label>
			<input class='crunched hp' type='text' placeholder='0' name='data.attributes.hp.nonlethal'
				value='{{data.attributes.hp.nonlethal}}' data-dtype='Number' />
		</div>

		<div class='flexcol item'>
			<label class='shaded'>{{localize 'PF1.TempShort'}}</label>
			<input class='crunched hp' type='text' placeholder='0' name='data.attributes.hp.temp'
				value='{{data.attributes.hp.temp}}' data-dtype='Number' />
		</div>
	</div>
</div>
