<section class='inventory-body'>
	<ol class='inventory-list'>
		<li class='inventory-header flexrow'><h3>BLOOP</h3></li>
		<ol class='item-list'>
			{{#each items}}
			<li class='item flexrow'>
				<div class='item-name flexrow'>
					<h4 class='rollable'>{{this.name}}</h4>
				</div>
			</li>
			{{/each}}
		</ol>
	</ol>
</section>
