<form autocomplete='off' class='koboldworks dialog skill'>
	<div class='form-group'>
		<label for='rank'>Rank</label>
		<input name='rank' type='number' data-dtype='Number' value='{{rank}}' min=0 step=1 max=1000></input>
	</div>
	<div class='form-group'>
		<label>Ability score</label>
		<select name='ability'>
		{{selectOptions config.abilities selected=ability}}
		</select>
	</div>
	<div class='form-group'>
		<label for='rt'>Requires training</label>
		<input type='checkbox' name='rt' {{checked rt}} />
	</div>
	<div class='form-group'>
		<label for='cs'>Class skill</label>
		<input type='checkbox' name='cs' {{checked cs}} readonly disabled />
	</div>
	<div class='form-group'>
		<label for='acp'>ACP</label>
		<input type='checkbox' name='acp' {{checked acp}} />
	</div>
	<hr/>
</form>
